<!DOCTYPE html>
<html>
<head>
    <title>Delete student information</title>
</head>

<div>
<body>
    
            <h1>Delete student Information</h1>
      
    <form action="/delete" method="POST">
        
        <label for="student_id">Student_id:</label>
        <input type="text" id="student_id" name="student_id" required><br><br>
        
        
        
        <button type="submit">delete</button>
    </form>    
</body>
</div>
</html>
