<html>
<head>
<title>Student information</title>
<style>body   background-color: #F5FFFA;p   margin: 30px;</style></head>
<body>
	<p><span style="font-weight:bold;">You are successful!</span></p>
	<p><a href='/home'>Back to home. </a></p>
</body>
</html>



<!DOCTYPE html>
<html>
<head>
<title>Delete student information</title>
<style>body   background-color: #F5FFFA;h1   border-left: 6px solid #D3D3D3;  margin-top: 60px;  margin-bottom: 1px;  margin-right: 550px;  margin-left: 350px;  background-color: #F5F5DC;  padding: 15px;form   background-color: lightgrey;  width: 300px;  border: 60px solid #708090;  padding: 50px;  margin-top: 1px;  margin-bottom: 1px;  margin-right: 400px;  margin-left: 350px;</style></head>

<div>
<body>
    
            <h1>Delete student Information</h1>
      
    <form action="/delete" method="POST">
        
        <label for="student_id">Student_id:</label>
        <input type="text" id="student_id" name="student_id" required><br><br>
        
        
        
        <button type="submit">delete</button>
    </form>    
</body>
</div>
</html>
