<!DOCTYPE html>
<html>
<head>
    <title>Create new student information</title>
</head>

<div>
<body>
    
            <h1>Create New student Information</h1>
      
    <form action="/create" method="POST">
        <label for="student_name">Student_name:</label>
        <input type="text" id="student_name" name="student_name" required><br><br>
        
        <label for="student_id">Student_id:</label>
        <input type="text" id="student_id" name="student_id" required><br><br>
        
        <label for="student_grade">Student_grade:</label>
        <input type="text" id="student_grade" name="student_grade" required><br><br>
        
        <label for="average_mark">Average_mark:</label>
        <input type="text" id="average_mark" name="average_mark" required><br><br>
        
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" required><br><br>
        
        
        <button type="submit">create</button>
    </form>    
</body>
</div>
</html>
