<html>
<head>
    <title>Student login</title>
</head>
<body>
    <h2>Student login</h2>
    <form action=“/login" method="POST">
        <label for="student_id">student_id:</label>
        <input type="text" id="student_id" name="student_id" required><br><br>
        
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
