<!DOCTYPE html>
<html>
<head>
    <title>Search Restaurant Information</title>
</head>
<body>
    <h1>Search Student Information</h1>
  
    <form id="searchForm">
        <label for="student_id">Please enter your student_id:</b></label><br>
        <br><input type="text" id="studentId" name="studentId"></br>
        <br><button type="submit">Search</button></br>
    </form>

    <div id="searchResult"></div>

    <p><a href="/home">Return home</a ></p>

</body>
</html>
