<!DOCTYPE html>
<html>
<head>
<title>Search Restaurant Information</title>
<style>
body{background-color: #F5FFFA;}
h2{   border-left: 6px solid #D3D3D3;  margin-top: 60px;  margin-bottom: 1px;  margin-right: 550px;  margin-left: 350px;  background-color: #F5F5DC;  padding: 15px;}
form{   background-color: lightgrey;  width: 300px;  border: 15px solid #708090;  padding: 30px;  margin-top: 1px;  margin-bottom: 1px;  margin-right: 400px;  margin-left: 350px;}
p{   border: 6px solid #D2B48C;  margin-top: 1px;  margin-bottom: 1px;  margin-right: 400px;  margin-left: 350px;  background-color: #FAFAD2;  padding: 30px;}
</style></head>
<body>
    <h2>Search Student Information</h2>
  
    <form id="searchForm">
        <label for="student_id">Please enter your student_id:</b></label><br>
        <br><input type="text" id="studentId" name="studentId"></br>
        <br><button type="submit">Search</button></br>
    </form>

    <div id="searchResult"></div>

    <p><a href="/home">Return home</a ></p >

</body>
</html>
