<html>
<head>
<title>Student information</title>
<style>
body{  background-color: #F5FFFA;p   margin: 30px;}
</style></head>
<body>
	<p><span style="font-weight:bold;">You are successful!</span></p>
	<p><a href='/home'>Back to home. </a></p>
</body>
</html>
