<html>
<head>
    <title>Student login</title>
    <style>
        body {
            background-color: #F5FFFA;
        }

        h2 {
            border-left: 6px solid #D3D3D3;
            margin-top: 60px;
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
            background-color: #F5F5DC;
            padding: 15px;
            width: 300px;
            text-align: center;
        }

        form {
            background-color: lightgrey;
            width: 300px;
            border: 2px solid #708090;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        p.error {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h2>User login</h2>
    <% if (error){ %>
    <p class="error"><%= error %></p >
    <% } %>

    <form action="/login" method="POST">
        <label for="userId">User ID:</label>
        <input type="text" id="userId" name="userId" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>
